// list of providers in comma delimited format. At least 1 REQUIRED
PROVIDERS=mailgun,mailjet, etc...

// keys for each listed provider. REQUIRED
KEYS=key-for-mailgun, key-for-mailjet, etc...

// how long to wait for a http request to a provider. defaults to 1 second
TIMEOUT=10

// port to listen on. defaults to 80
PORT=80

// if need to set the host name. defaults to 0.0.0.0
HOST=www.test.com

// the env, defaults to development
NODE_ENV